:root {
  --card-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-box-shadow: #ffffff40 0 4px 8px -2px, #ffffff14 0 0 0 1px;
  --primary-color: #33bbcf;
  --secondary-color: #ffffffb3;
  --background-blue-gradient: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  font-size: 100px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background-color: rgb(0 4 15);
}
body {
  max-width: 1200px;
  margin: auto;
}
li {
  list-style: none;
  display: inline;
}
